body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  .login {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .donate {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .petimg {
    width: 25%;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .petimg2,
  .petimg3,
  .petimg4 {
    width: 24%;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .justi {
    color: #333;
    text-align: center;
  }
  
  .donato {
    text-align: center;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .label {
    font-weight: bold;
    color: #555;
  }
  
  .inputo {
    padding: 10px;
    margin-bottom: 20px;
    width: 50%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .submit {
    background-color: #4caf50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .submit:hover {
    background-color: #45a049;
  }
  