.nav {
  display: flex;
  background-color: rgb(238, 215, 215);
  width: auto;
  padding: 20px 20px;
  border: 5px solid #000000;

}
.nav h1 {
  margin-left: 10%;
  font-size: 40px;
  color: #f9a405;
  position: relative;
  right: 60px;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 40px;
  margin-left: 15%;
  margin-top: 3%;
  position: relative;
  right: 210px;
  top: 13px;
}

.nav li {
  font-size: 20px;
}

.nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition: color 0.3s;
}

.nav a:hover {
  color: rgb(0, 194, 216);
}

 .more {
  display: flex;
}

.more ul {
  list-style: none;
  display: flex;
  gap: 10px;
  margin-left: 4%;
  margin-top: 2%;
}

.more li {
  font-size: 20px;
  background-color: rgb(240, 150, 150);
  padding: 10px;
  border-radius: 10px;
  position: relative;
  bottom: 170px;
  right: 55px;
}

.more a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s;
}

.more a:hover {
  color: rgb(51, 255, 0);
} 
/*
.maindog {
  position: relative;
  margin-left: 57%;
  margin-top: -25%;
  border-radius: 100px;
  bottom: 127px;
}

.footer {
  background-color: aliceblue;
}

.headf {
  margin-top: 5%;
  margin-left: 14%;
  gap: 200px;
  display: flex;
  flex-direction: row;
}

.lowest {
  margin-left: 10%;
  margin-bottom: 2%;
  font-size: 20px;
}

.label {
  white-space: break-spaces;
}*/

 .gallery {
  display: flex;
  padding: 2px 180px;
  transition: 0.3s;
  position: relative;
  right: 140px;
  &__column {
    display: flex;
    flex-direction: column;
    width: 25%;
  }

  &__link {
    margin: 2px;
    overflow: hidden;

    hover {
      .gallery__image {
        filter: grayscale(0);
      }

      .gallery__caption {
        opacity: 1;
      }
    }
  }

  &__thumb {
    position: relative;
  }

  &__image {
    display: block;
    width: 100%;
    transition: 0.3s;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__caption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 25px 15px 15px;
    width: 100%;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    color: white;
    opacity: 0;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    transition: 0.3s;
  }
}

.gallery__image {
  &:hover &__image {
    filter: grayscale(1);
  }
}  
